<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../public/stylesheets/style.css">
</head>
<body bgcolor="#deb887">


        <form action="/login" method="post">

            <div class="container">

                <div style="width: 500px; margin: 100px auto 0px auto;">

                    <div class="imgcontainer" align="center">

                        <img src="../public/images/avatar.png" alt="Avatar" class="avatar">

                    </div>
                <label><b>Kullanıcı Adı</b></label>
                <input type="text" placeholder="Kullanıcı adı girin" name="kullaniciAdi" >

                <label><b>Password</b></label>
                <input type="password" placeholder="Şifrenizi girin" name="sifre">



                <div class="clearfix">
                    <a href="http://localhost:3000/login/signup"><button type="button" class="kayitbtn">Kayıt Ol</button></a>
                    <button type="submit" class="loginbtn">Giriş</button>
                </div>

                </div>
            </div>
        </form>
</body>
</html>